<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <section class="grid grid-cols-1 md:grid-cols-2 p-4 gap-8">
    <div>
      <h2
        class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold text-slate-800 mb-4"
      >
        Contact me
      </h2>
    </div>
    <div class="w-full">
      <div
        *ngIf="contactForm.get('name')?.errors?.['required'] && contactForm.get('name')?.touched"
        class="text-red-600 text-sm"
      >
        Name is required.
      </div>
      <app-input-text
        [placeholder]="'Name'"
        formControlName="name"
        validateFormBorder
      ></app-input-text>

      <div
        *ngIf="contactForm.get('surname')?.errors?.['required'] && contactForm.get('surname')?.touched"
        class="text-red-600 text-sm"
      >
        Surname is required.
      </div>
      <app-input-text
        [placeholder]="'Surname'"
        formControlName="surname"
        validateFormBorder
      ></app-input-text>

      <div
        *ngIf="contactForm.get('email')?.errors?.['required'] && contactForm.get('email')?.touched"
        class="text-red-600 text-sm"
      >
        Email is required.
      </div>
      <app-input-text
        [placeholder]="'Email'"
        formControlName="email"
        validateFormBorder
      ></app-input-text>

      <div
        *ngIf="contactForm.get('phone')?.errors?.['required'] && contactForm.get('phone')?.touched"
        class="text-red-600 text-sm"
      >
        Phone is required.
      </div>

      <app-input-text
        [placeholder]="'Phone number'"
        formControlName="phone"
        validateFormBorder
      ></app-input-text>

      <div
        *ngIf="contactForm.get('message')?.errors?.['required'] && contactForm.get('message')?.touched"
        class="text-red-600 text-sm"
      >
        Message is required.
      </div>
      <app-text-area
        [placeholder]="'Tell about your trip'"
        formControlName="message"
        validateFormBorder
      ></app-text-area>

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <app-button
        [text]="'Submit'"
        [type]="'submit'"
        [disabled]="!contactForm.valid"
      ></app-button>
    </div>
  </section>
</form>
