<!-- Conditional section that shows when the tour is created -->
<!-- <div
  *ngIf="isTourCreated; else formSection"
  class="mt-6 p-4 bg-green-100 rounded-lg"
>
  <h2 class="text-lg font-semibold text-green-600">Tour was created!</h2>
  <p class="text-gray-700">Want to create a new one?</p>
  <app-button
    [text]="'Create New Tour'"
    (click)="isTourCreated = false"
  ></app-button>
</div> -->

<!-- Form Section: Hidden when tour is created -->
<!-- <ng-template #formSection> -->
<!-- Conditional section that shows when the tour is created -->
<form [formGroup]="tourForm" (ngSubmit)="onSubmit()">
  <section class="grid grid-cols-1 md:grid-cols-2 p-4 gap-8">
    <!-- Grid item 1: Regular form fields -->
    <div>
      <h2 class="text-xl">General specifics</h2>

      <!-- Title Field -->
      <div class="w-full">
        <app-input-text
          [placeholder]="'Title of the tour'"
          formControlName="title"
          validateFormBorder
        ></app-input-text>
        <div
          *ngIf="tourForm.get('title')?.errors?.['required'] && tourForm.get('title')?.touched"
          class="text-red-600 text-sm"
        >
          Title is required.
        </div>
      </div>

      <!-- MAIN DESCRIPTION SECTION -->
      <div class="w-full">
        <app-text-area
          [placeholder]="'Description of the tour'"
          formControlName="mainDescription"
          validateFormBorder
        ></app-text-area>
        <div
          *ngIf="tourForm.get('mainDescription')?.errors?.['required'] && tourForm.get('mainDescription')?.touched"
          class="text-red-600 text-sm"
        >
          Main Description exceeds the maximum length.
        </div>
      </div>
    </div>

    <!-- Grid item 2: Dynamic step section -->
    <div>
      <h2 class="text-xl">Describe the itinerary</h2>
      <!-- PRICE SECTION -->
      <section class="flex items-center gap-3">
        <div class="w-full">
          <app-input-text
            [placeholder]="'Price for Adults'"
            formControlName="priceAdult"
            type="number"
            validateFormBorder
          ></app-input-text>
          <div
            *ngIf="tourForm.get('priceAdult')?.errors?.['required'] && tourForm.get('priceAdult')?.touched"
            class="text-red-600 text-sm"
          >
            Price for Adults is required.
          </div>
        </div>

        <div class="w-full">
          <app-input-text
            [placeholder]="'Price for Children'"
            formControlName="priceChild"
            type="number"
            validateFormBorder
          ></app-input-text>
          <div
            *ngIf="tourForm.get('priceChild')?.errors?.['required'] && tourForm.get('priceChild')?.touched"
            class="text-red-600 text-sm"
          >
            Price for Children is required.
          </div>
        </div>
      </section>

      <!-- LOCATION AND TYPE SECTION -->
      <section class="flex items-center gap-3">
        <div class="w-full">
          <app-input-select
            [placeholder]="'Select Location'"
            [options]="locationArea"
            formControlName="location"
            validateFormBorder
          ></app-input-select>
          <div
            *ngIf="tourForm.get('location')?.errors?.['required'] && tourForm.get('location')?.touched"
            class="text-red-600 text-sm"
          >
            Location is required.
          </div>
        </div>

        <div class="w-full">
          <app-input-select
            [placeholder]="'Select Type of Tour'"
            [options]="tourType"
            formControlName="tourType"
            validateFormBorder
          ></app-input-select>
          <div
            *ngIf="tourForm.get('location')?.errors?.['required'] && tourForm.get('tourType')?.touched"
            class="text-red-600 text-sm"
          >
            Tour Type is required.
          </div>
        </div>
      </section>

      <!-- TIME START SECTION -->
      <section class="flex items-center gap-3">
        <div class="w-full">
          <app-input-select
            [placeholder]="'Select Start Time'"
            [options]="tourTimes"
            formControlName="startAt"
            validateFormBorder
          ></app-input-select>
          <div
            *ngIf="tourForm.get('startAt')?.errors?.['required'] && tourForm.get('startAt')?.touched"
            class="text-red-600 text-sm"
          >
            Start Time is required.
          </div>
        </div>

        <div class="w-full">
          <app-input-select
            [placeholder]="'Select Finish Time'"
            [options]="tourTimes"
            formControlName="finishAt"
            validateFormBorder
          ></app-input-select>
          <div
            *ngIf="tourForm.get('finishAt')?.errors?.['required'] && tourForm.get('finishAt')?.touched"
            class="text-red-600 text-sm"
          >
            Finish Time is required.
          </div>
        </div>
      </section>

      <!-- LANGUAGES -->
      <section class="flex items-center gap-3">
        <div class="w-full">
          <app-input-select
            [placeholder]="'Select primary language'"
            [options]="language"
            formControlName="primaryLanguage"
            validateFormBorder
          ></app-input-select>
          <div
            *ngIf="tourForm.get('primaryLanguage')?.errors?.['required'] && tourForm.get('primaryLanguage')?.touched"
            class="text-red-600 text-sm"
          >
            Primary language is required.
          </div>
        </div>
        <div class="w-full">
          <app-input-select
            [placeholder]="'Select secondary language'"
            [options]="language"
            formControlName="secondaryLanguage"
            validateFormBorder
          ></app-input-select>
          <div
            *ngIf="tourForm.get('secondaryLanguage')?.errors?.['required'] && tourForm.get('secondaryLanguage')?.touched"
            class="text-red-600 text-sm"
          >
            Secondary language is required.
          </div>
        </div>
      </section>
    </div>
  </section>

  <section class="grid grid-cols-1 md:grid-cols-2 p-4 gap-8 w-full">
    <!-- Grid item 1: Regular form fields -->

    <!-- Steps Section -->
    <section class="col-span-2">
      <h2 class="text-xl">Describe the itinerary</h2>

      <div formArrayName="steps" class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div
          *ngFor="let step of steps.controls; let i = index"
          [formGroupName]="i"
          class="step-block border border-gray-300 p-4 rounded-lg"
        >
          <div class="w-full">
            <app-input-text
              [placeholder]="'Step Title'"
              formControlName="tourStepTitle"
              validateFormBorder
            ></app-input-text>
            <div
              *ngIf="step.get('tourStepTitle')?.errors?.['required'] && step.get('tourStepTitle')?.touched"
              class="text-red-600 text-sm"
            >
              Step Title is required.
            </div>
          </div>

          <div class="w-full">
            <app-text-area
              [placeholder]="'Step Description'"
              formControlName="tourStepDescription"
              validateFormBorder
            ></app-text-area>
            <div
              *ngIf="step.get('tourStepDescription')?.errors?.['required'] && step.get('tourStepDescription')?.touched"
              class="text-red-600 text-sm"
            >
              Step Description is required.
            </div>
          </div>

          <!-- Button to ADD/REMOVE Steps -->
          <section class="flex justify-end gap-2">
            <app-button
              [text]="'Remove step'"
              (click)="removeStep(i)"
            ></app-button>

            <app-button
              [text]="'Add next step'"
              [type]="'button'"
              (click)="addStep()"
            ></app-button>
          </section>
        </div>
      </div>
    </section>
  </section>

  <!-- Submit button -->
  <div class="w-full mt-4">
    <app-button
      [text]="isEdit ? 'Update Tour' : 'Create Tour'"
      type="button"
      (buttonClick)="isEdit ? updateTour() : onSubmit()"
    ></app-button>
    <app-button
      [text]="getDeleteButtonText()"
      [type]="'button'"
      (click)="onDeleteTour()"
    ></app-button>
  </div>
</form>
<!-- </ng-template> -->
