<div *ngIf="tour$ | async as tour; else noTour">
  <!-- TOUR STICKY HEADER -->
  <section class="sticky top-0 z-10">
    <div class="flex justify-start align-center gap-2 p-2 bg-yellow-100">
      <h2 class="text-2xl font-bold">{{ tour.tourTitle }}</h2>
    </div>

    <div class="flex justify-start align-center gap-2 p-2 bg-yellow-100">
      <p>Start at: {{ tour.tourStartAt }}</p>
      <p>Finish at: {{ tour.tourFinishAt }}</p>
    </div>
    <div class="flex justify-start align-center gap-2 p-2 bg-yellow-100">
      <p>Tour type: {{ tour.tourType }}</p>
      <p>Location: {{ tour.tourLocation }}</p>
    </div>

    <div class="flex justify-start align-center gap-2 p-2 bg-yellow-100">
      <p>Price for adults: ${{ tour.tourPriceAdult }}</p>
      <p>Price for children: ${{ tour.tourPriceChild }}</p>
    </div>
  </section>

  <div class="flex flex-col justify-start align-center gap-2 p-2 bg-red-100">
    <p>Tour description</p>
    <p>{{ tour.tourMainDescription }}</p>
  </div>

  <!-- Render Steps -->
  <div *ngIf="tour.steps && tour.steps.length > 0">
    <h3 class="text-xl font-bold mt-4">Tour Steps:</h3>
    <ul>
      <li *ngFor="let step of tour.steps; let i = index" class="mt-2">
        <p>
          <strong>Step {{ i + 1 }}:</strong> {{ step.tourStepTitle }}
        </p>
        <p>{{ step.tourStepDescription }}</p>
      </li>
    </ul>
  </div>

  <div *ngIf="tour.steps?.length === 0">
    <p>No steps available for this tour.</p>
  </div>

  <!-- Go Back Link to Tour List -->
  <a [routerLink]="['/all-tours']" class="text-blue-600 hover:underline mt-4"
    >Go Back to All Tours</a
  >
</div>

<ng-template #noTour>
  <p>Tour not found.</p>
</ng-template>
